<head>
    <link rel="stylesheet" href="/css/readinglist.css">
</head>

<!-- reading-list.ejs -->
<div class="article-page-reading-list">
    <h3> Trending News</h3>
    <ul>
        <li>
            <a href="#">
                <img src="/images/latest.jpg" alt="News 1">
                <span>Breaking News: Major Event Happening</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/images/latest.jpg" alt="News 2">
                <span>Politics: Government Announces New Policy</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/images/latest.jpg" alt="News 3">
                <span>Technology: Latest Innovations in AI</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/images/latest.jpg" alt="News 4">
                <span>Sports: Championship Game Highlights</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/images/latest.jpg" alt="News 4">
                <span>Sports: Championship Game Highlights</span>
            </a>
        </li>
        
    </ul>
</div>
