<div class="top-headline-container">
    <div class="top-headline-title">LATEST NEWS</div>
    <div class="top-headline-content">
        <marquee behavior="scroll" direction="left" scrollamount="6">
            <span class="top-headline-time">1:07 p.m</span> German Chancellor Scholz: Trump is attacking the trade order &nbsp;&nbsp; 
            <span class="top-headline-time">13:00</span> Israeli soldiers detain dozens of Palestinian
        </marquee>
    </div>
</div>

<style>
.top-headline-container {
    display: flex;
    align-items: center;
    background-color: #e5e5e5;
    /* padding: 10px; */
    /* border-radius: 5px; */
}

.top-headline-title {
    background-color: #ff0000;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    /* border-top-left-radius: 5px; */
    /* border-bottom-left-radius: 5px; */
}

.top-headline-content {
    flex-grow: 1;
    padding: 0 10px;
}

.top-headline-time {
    color: #c8102e;
    font-weight: bold;
    margin-right: 5px;
}
</style>
