<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World News Section</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="world-news-container">
        <h2 class="world-news-title">🌎 <strong>World</strong></h2>
        
        <div class="world-news-main">
            <div class="world-news-card">
                <img src="/images/money.jpg" alt="Plane Incident">
                <h3>Panic on the plane over the Indian Ocean: the passenger tried to open the door</h3>
            </div>
            <img src="/images/openai.jpg" alt="OpenAI News" class="world-main-img">
            <div class="world-news-main-text">
                <h3>OpenAI signs record $40 billion deal with SoftBank</h3>
                <p>US-based artificial intelligence company OpenAI has received an investment of $40 billion as part of an agreement with Japanese investment group SoftBank. This was the largest capital raise ever undertaken for a startup.This was the largest capital raise ever undertaken for a startup.This was the largest capital raise ever undertaken for a startup.</p>
            </div>
            <!-- <div class="world-news-card">
                <img src="/images/news.jpg" alt="Airstrike in Beirut">
                <h3>3 people killed in Israeli airstrike south of Beirut</h3>
            </div> -->
        </div>
        
        <div class="world-news-grid">
            <a href="/article" style="text-decoration: none;"><div class="world-news-card">
                <img src="/images/money.jpg" alt="Plane Incident">
                <h3>Panic on the plane over the Indian Ocean: the passenger tried to open the door</h3>
            </div></a>
            <a href="/article" style="text-decoration: none;"><div class="world-news-card">
                <img src="/images/money.jpg" alt="Oil Prices">
                <h3>Brent oil is trading at $74.91 a barrel</h3>
            </div></a>
            <a href="/article" style="text-decoration: none;"> <div class="world-news-card">
                <img src="/images/money.jpg" alt="Brain Implant">
                <h3>Brain implant turned paralyzed woman's thoughts into instant speech</h3>
            </div></a>
           
            <a href="/article" style="text-decoration: none;"><div class="world-news-card">
                <img src="/images/money.jpg" alt="Garbage Strike">
                <h3>Garbage strike crisis in the UK: 17 thousand tons of waste accumulated on the streets</h3>
            </div></a>
            
            
        </div>
    </div>
</body>
</html>